<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <a href="http://armotusitio.com"> <button>Sitio de Ale</button> </a>
    <h1>¡Bienvenido {{ nombre }}!</h1>
    <h1>Usted tiene {{ edad }} años de Edad.!</h1>
    <h2>y vive en la calle {{ direccion.calle }} de la Ciudad de {{ direccion.localidad }} </h2>
</body>

</html>