<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
</br>
    
    <h1>¡Bienvenido {{ nombre }}!</h1>
    <h2>Usted tiene {{ edad }} años de Edad.!</h2>
    <h2>y vive en la calle {{ direccion.calle }} de la Ciudad de {{ direccion.localidad }} </h2>
    <h3> {{ direccion.provincia }}, {{ direccion.pais }} </h3></br></br>
<h3>Su Sitio Web es:</h3>
</br>
    <a href="http://armotusitio.com" target="_blank" rel="noopener noreferrer"> <button>Sitio de Ale</button> </a> 
</body>

</html>